beautifulsoup4==4.8.1
bs4==0.0.1
certifi==2019.9.11
cffi==1.13.0
chardet==3.0.4
Click==7.0
cryptography==2.8
Flask==1.1.1
future==0.18.1
gevent==1.4.0
greenlet==0.4.15
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
pycparser==2.19
python-telegram-bot==12.8.0
requests==2.22.0
six==1.12.0
soupsieve==1.9.4
tornado==6.0.3
urllib3==1.25.6
Werkzeug==0.16.0
youtube-dl==2020.7.28
func-timeout==4.3.5
